In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
df=pd.read_csv("C:\\Users\\Jones Mbela\\Desktop\\RENNY\\AI AND ML\\Lend Secure\\Data\\cleaned_real_estate_data.csv")
current_year= datetime.now().year

In [4]:
#Building Age Feature
df["building_age"]= current_year - df["building_construction_year"]
df=df.drop(columns=["building_construction_year"])

In [5]:
#Area per Room Feature(log)
df["log_apartment_total_area"]=np.log1p(df["apartment_total_area"])
df=df.drop(columns=["apartment_total_area"])

In [6]:
#Country one hot encoding Feature
df=pd.get_dummies(df, columns=["country"], drop_first=True)

In [7]:
#Location frequency encoding Feature
location_freq= df["location"].value_counts(normalize=True)
df["location_freq"]= df["location"].map(location_freq)
df=df.drop(columns=["location"])

In [10]:
#Median imputation for any remaining missing values
num_features=[
    "building_total_floors",
    "apartment_rooms",
    "apartment_bathrooms",
    "building_age",
    "log_apartment_total_area",

]
for col in num_features:
    df[col]= df[col].fillna(df[col].median())

In [12]:
df.isnull().sum().sort_values(ascending=False).head()

building_total_floors    0
apartment_rooms          0
apartment_bathrooms      0
price_in_USD             0
building_age             0
dtype: int64

In [11]:
#Sanity checks
df.info()
df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144941 entries, 0 to 144940
Data columns (total 33 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   building_total_floors     144941 non-null  float64
 1   apartment_rooms           144941 non-null  float64
 2   apartment_bathrooms       144941 non-null  float64
 3   price_in_USD              144941 non-null  float64
 4   building_age              144941 non-null  float64
 5   log_apartment_total_area  144941 non-null  float64
 6   country_Australia         144941 non-null  bool
 7   country_Austria           144941 non-null  bool
 8   country_Belarus           144941 non-null  bool
 9   country_Croatia           144941 non-null  bool
 10  country_Cyprus            144941 non-null  bool
 11  country_Czech Republic    144941 non-null  bool
 12  country_Finland           144941 non-null  bool
 13  country_Georgia           144941 non-null  bool
 14  country_Greece            144941 non-null  bool
 15  country_Hungary           144941 non-null  bool
 16  country_Indonesia         144941 non-null  bool
 17  country_Italy             144941 non-null  bool
 18  country_Latvia            144941 non-null  bool
 19  country_Lithuania         144941 non-null  bool
 20  country_Montenegro        144941 non-null  bool
 21  country_Northern Cyprus   144941 non-null  bool
 22  country_Poland            144941 non-null  bool
 23  country_Portugal          144941 non-null  bool
 24  country_Russia            144941 non-null  bool
 25  country_Serbia            144941 non-null  bool
 26  country_Spain             144941 non-null  bool
 27  country_Thailand          144941 non-null  bool
 28  country_Turkey            144941 non-null  bool
 29  country_UAE               144941 non-null  bool
 30  country_United States     144941 non-null  bool
 31  country_Uzbekistan        144941 non-null  bool
 32  location_freq             144941 non-null  float64
dtypes: bool(26), float64(7)
memory usage: 11.3 MB

,count,mean,std,min,25%,50%,75%,max
building_total_floors,144941.0,6.606688,5.553556,1.000000,5.000000,5.000000,5.000000,3.800000e+01
apartment_rooms,144941.0,2.282584,0.821128,1.000000,2.000000,2.000000,2.000000,6.000000e+00
apartment_bathrooms,144941.0,1.135131,0.417908,1.000000,1.000000,1.000000,1.000000,4.000000e+00
price_in_USD,144941.0,412229.053615,842142.589153,61.000000,105432.000000,190212.000000,398930.000000,3.060283e+07
building_age,144941.0,11.725406,18.104154,0.000000,2.000000,3.000000,20.000000,2.250000e+02
log_apartment_total_area,144941.0,4.576238,0.729714,0.693147,4.077537,4.488636,5.017280,6.685861e+00
location_freq,144941.0,0.010228,0.015009,0.000007,0.000442,0.002946,0.012895,4.988927e-02

In [13]:
df.to_csv("C:\\Users\\Jones Mbela\\Desktop\\RENNY\\AI AND ML\\Lend Secure\\Data\\featured_engineered_real_estate_data.csv", index=False)
print("Feature engineering completed and data saved.")

Feature engineering completed and data saved.